:hover{transition: all ease .5s;}
:lang(es){font-weight: 300;}
.container-flow{background:#eee; text-align: center;}
body{font-family: 'Roboto', sans-serif; font-weight: 400; background:#fafafa;}
h1,h2,h3,h4,h5{font-weight: 700; margin:0; padding:0;}
h1{font-size:1.5em; letter-spacing: 0.02em;}
h2{font-size:1.4em; padding:0 .25em;}
h3{font-size:1.2em; padding:.5em 0;}
h4{font-size:1em; padding:.5em 0 1.5em 0;}
h5{font-size:1em;}
h6{font-size:1em; font-weight: 400;}
header{margin:1.4em 0; padding:0.7em;}
footer{padding:2em 0;}
article {margin:1em .5em 2em .5em; background:#fff; padding:0 .5em .5em .5em; border-radius: .3em; box-shadow: 0 0 5px rgba(100,100,100,0.1);}
article h2{padding:1em .25em;}
article h2.nl,article h2.ml,article h2.l,article h2.cl{color:#ccc; font-size:2.8em; padding:.25em; font-weight: 300;}
@media screen and (max-width: 768px){
  article h2.nl,article h2.ml,article h2.l,article h2.cl{font-size:3.2em;}
}
article h2.nl{color:#A94442;}
article h2.ml{color:#F48024;}
article h2.l{color:#317096;}
article h2.cl{color:#3C763D;}
figure{border-radius: .2em; box-shadow: inset 0 0 10px rgba(0,0,0,0.1);}
figure:hover{box-shadow: inset 0 0 20px rgba(0,0,0,0.25);}
figure.completamente-logrado{background:#DFF0D8; padding:1.5em;}
figure.logrado{background:#D9EDF7; padding:1.5em;}
figure.medianamente-logrado{background:#FCF8E3; padding:1.5em;}
figure.no-logrado{background:#F2DEDE; padding:1.5em;}
img.picto{width:100%; height:auto;}
div.description{padding:.5em;}
dl{font-size:90%; color:#777;}
dl:first-child{padding-top:1em;}
dl:last-child{padding-bottom:1em;}
dt, dd {display: inline-block;}
dt {width: 80%;}
dd {width: 20%; text-align:right;}
